{
  "presets": ["es2015", "stage-1", "react"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": ["transform-runtime"]
    }
  }
}